<option-card group="coffee" value="{{id}}" checked="{{checked}}">
  <img
    class="ml-3 h-20 w-16 shrink-0 object-contain sm:ml-4"
    src="{{packImage200}}"
    srcset="{{packImage120}} 120w, {{packImage200}} 200w, {{packImage400}} 400w"
    sizes="64px"
    width="64"
    height="80"
    loading="lazy"
    decoding="async"
    alt="{{t:coffees.packAlt}} {{name}}, {{production}}"
  />
  <option-text heading="{{name}}" description="{{description}}">
    <span class="text-text-secondary text-sm">
      {{formattedPrice}}{{t:plans.perMonth}}
    </span>
  </option-text>
</option-card>
