<ul class="flex gap-3" role="list">
  <li>
    <a
      href="#"
      class="text-2xl transition-transform hover:motion-safe:scale-110"
      aria-label="Facebook"
    >
      <span
        class="icon mask-[url(/icons/ui/facebook.svg)]"
        aria-hidden="true"
      ></span>
    </a>
  </li>
  <li>
    <a
      href="#"
      class="text-2xl transition-transform hover:motion-safe:scale-110"
      aria-label="Instagram"
    >
      <span
        class="icon mask-[url(/icons/ui/instagram.svg)]"
        aria-hidden="true"
      ></span>
    </a>
  </li>
  <li>
    <a
      href="#"
      class="text-2xl transition-transform hover:motion-safe:scale-110"
      aria-label="Twitter"
    >
      <span
        class="icon mask-[url(/icons/ui/twitter.svg)]"
        aria-hidden="true"
      ></span>
    </a>
  </li>
</ul>
