<li>
  <a
    href="/src/pages/coffee-detail.html?id={{id}}"
    class="card home-coffee-link"
  >
    <article>
      <div class="coffee-card__package">
        <img
          class="coffee-card__package-image"
          src="/photos/package-1.png"
          alt="Paquete de café {{name}}, {{production}}"
        />
      </div>
      <div class="coffee-card__content">
        <h3 class="coffee-card__title">{{name}}</h3>
        <p class="coffee-card__description">{{description}}</p>
        <p class="coffee-card__price">{{formattedPrice}}</p>
      </div>
    </article>
  </a>
</li>
