<li>
  <a href="/src/pages/coffee-detail.html?id={{id}}" class="card home-coffee-link">
    <article>
      <div class="coffee-card-package">
        <img class="coffee-card-package-image" src="/photos/package-1.png"
          alt="Paquete de café {{name}}, {{production}}">
      </div>
      <div class="coffee-card-content">
        <h3 class="coffee-card-title">{{name}}</h3>
        <p class="coffee-card-description">{{description}}</p>
        <p class="coffee-card-price">{{formattedPrice}}</p>
      </div>
    </article>
  </a>
</li>
