<li class="gallery__item hover-zoom{{modifier}}">
  <figure class="gallery__figure">
    <button
      type="button"
      class="gallery__zoom"
      aria-label="Ampliar: {{title}}"
      aria-haspopup="dialog"
    >
      <img
        src="{{image}}"
        alt="{{alt}}"
        class="gallery__img hover-zoom__target"
      />
    </button>
    <figcaption class="gallery__caption-overlay gallery__caption">
      <h3 class="gallery__caption-title">{{title}}</h3>
      <p class="gallery__caption-text">{{description}}</p>
    </figcaption>
  </figure>
</li>
