<button
  type="button"
  class="gallery-lightbox__btn gallery-lightbox__close"
  aria-label="Cerrar"
>
  &times;
</button>
<button
  type="button"
  class="gallery-lightbox__btn gallery-lightbox__prev"
  aria-label="Anterior"
>
  &#8249;
</button>
<figure class="gallery-lightbox__figure">
  <img class="gallery-lightbox__img" alt="" />
  <figcaption class="gallery-lightbox__caption"></figcaption>
</figure>
<button
  type="button"
  class="gallery-lightbox__btn gallery-lightbox__next"
  aria-label="Siguiente"
>
  &#8250;
</button>
