<header class="site-header page-gutter theme-transition">
  <a href="/" class="brand">
    <img data-brand-logo alt="Logo" class="brand__logo" />
  </a>

  <nav aria-label="Navegación principal" class="site-header__nav">
    <ul class="site-header__nav-list">
      <li><a href="/#cafes" class="site-header__link">Caf&eacute;s</a></li>
      <li>
        <a href="/src/pages/about.html" class="site-header__link"
          >Nuestra Historia</a
        >
      </li>
      <li>
        <a href="/src/pages/gallery.html" class="site-header__link"
          >Galer&iacute;a</a
        >
      </li>
      <li>
        <a href="/src/pages/subscription.html" class="site-header__link"
          >Subscr&iacute;bete</a
        >
      </li>
    </ul>
  </nav>

  <theme-selector class="site-header__theme"></theme-selector>
</header>
