<li class="menu-item">
  <article class="menu-card hover-zoom">
    <div class="menu-card__media">
      <img
        class="menu-card__image hover-zoom__target"
        src="{{image800}}"
        srcset="{{image400}} 400w, {{image800}} 800w"
        sizes="(min-width: 1280px) 160px, (min-width: 1024px) 33vw, (min-width: 640px) 50vw, 160px"
        alt="{{alt}}"
        loading="lazy"
        decoding="async"
      />
    </div>
    <div class="menu-card__content">
      <h3 class="menu-card__title">{{name}}</h3>
      <p class="menu-card__description">{{description}}</p>
      <p class="menu-card__price">{{formattedPrice}}</p>
    </div>
  </article>
</li>
